// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "card";


h2 {
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
}
